[mysqld]
# 允许 MySQL 侦听所有地址（必要时支持外部连接）
# This allows MySQL to listen on all IP addresses, enabling external connections if necessary.
bind-address = 0.0.0.0

# 设置服务器的默认字符集为 utf8mb4，支持广泛的字符集，包括表情符号
# Sets the default character set for the server to utf8mb4, which supports a wide range of characters, including emojis.
character-set-server = utf8mb4

# 设置服务器的默认排序规则为 utf8mb4_unicode_ci，支持广泛的 Unicode 字符，并且不区分大小写
# Sets the default collation for the server to utf8mb4_unicode_ci, which supports a wide range of Unicode characters and is case-insensitive.
collation-server = utf8mb4_unicode_ci

# 配置 SQL 模式以确保数据完整性和一致性
# Configures SQL modes to ensure data integrity and consistency.
# STRICT_TRANS_TABLES: 严格模式，确保 MySQL 严格处理无效或缺失的数据
# STRICT_TRANS_TABLES: Strict mode, ensures MySQL strictly handles invalid or missing data.
# ERROR_FOR_DIVISION_BY_ZERO: 当发生除以零时生成错误
# ERROR_FOR_DIVISION_BY_ZERO: Generates an error when a division by zero occurs.
# NO_ENGINE_SUBSTITUTION: 防止在指定的存储引擎不可用时自动替换存储引擎
# NO_ENGINE_SUBSTITUTION: Prevents automatic substitution of the storage engine if the specified engine is unavailable.
sql_mode = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION